@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

li,
a,
button {
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #879193;
}

.logo {
  cursor: pointer;
  width: 5em;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 1em;
}

.nav__links li a {
  color: #333;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #524e4e;
}

button {
  padding: 0.5em 1em;
  background-color: rgb(24, 25, 26, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #fff;
}

button:hover {
  background-color: rgb(24, 25, 26, 0.8);
}
